<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i-feather name="calendar"></i-feather>
                    </div>
                    <select class="form-control" name="country" [(ngModel)]="country" (change)="loadData($event)">
                        <option [ngValue]="null" selected>Elige</option>
                        <option *ngFor="let country of countries" [ngValue]="country">{{country}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                [colors]="pieChartColors">
            </canvas>
        </div>
    </div>
</div>